extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner #{blockchain_name}
    div.Message.center
      div.Title
        h3 Please enter your Tweet URL
        input(
            id="tweet_url"
            type="text"
            class="full_width"
            value="https://twitter.com/testing_one_/status/1425321665378938880"
        )
        br 
        br
        p Please note this is under heavy development and may not be working
        button.clearButton(onclick="clearTwitterInput()", id=clear_input) Clear
    script(src = "jquery.min.js")
    script(src = "helper.js")
    div.NavButtons
      button.NavButton.center(onclick="onButtonClickTwitter($('#tweet_url').val(), twitter_token_env)", id=button_send_tokens) Send me tokens!
    a(
      href="https://parastate.io"
      target="_blank"
    )
      img(
        class="bottom_left"
        src="ps.jpg"
        a="href"
        target="_blank"
      )