extends layout
block layout-content
  script(src = "jquery.min.js")
  script(src = "helper.js")
  .container.View.WelcomeView
    h1.Banner ParaState Timelock
    div.Message.center
      div.Title
      p Enter Ethereum Address
      input(
          id="eth_address"
          type="text"
          class="full_width"
          value="0x..."
      )
      br
      br
      button.clearButton.center(onclick="clearInput()", id="clear_input") Clear
      br
      button.NavButton.center(id="button_transfer_tokens", onclick="onButtonClickTransfer($('#eth_address').val())") Transfer Tokens
      br 
      .progress
        #pb.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar' aria-valuemin='0' aria-valuemax='100' style='width: 0%')
      hr
      p Mention #{twitter_handle} & provide your address & follow 
      a(
        href="https://parastate.io"
        target="_blank"
      ) ParaState
      hr
      a(
        href="https://parastate.io"
        target="_blank"
      )
        img.center.small_image(
          src="ps.jpeg"
        )
      br
      p.small Address: #{erc20_address}
      a(
        href="https://t.me/joinchat/FFwdJTS7jF02OTdl"
        target="_blank"
      )
        img.center(
          src="sticker_image.png"
        )
        
