extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner #{blockchain_name}
    div.Message.center
      div.Title
        h3 Please enter your Tweet's URL
        a(
          href="https://help.twitter.com/en/using-twitter/tweet-and-moment-url"
          target="_blank"
        )
         p.linkage How to find your Tweet's URL
        input(
            id="recipient_address"
            type="text"
            class="full_width"
            value="https://twitter.com/user/status/1234"
        )
        br 
        br
        button.clearButton(onclick="clearTwitterInput()", id=clear_input) Clear
    script(src = "jquery.min.js")
    script(src = "helper.js")
    div.NavButtons
      button.NavButton.center(onclick="onButtonClick($('#recipient_address').val())", id=button_send_tokens) Send me tokens!
    a(
      href="https://parastate.io"
      target="_blank"
    )
      img(
        class="bottom_left"
        src="ps.jpg"
        a="href"
        target="_blank"
      )