extends layout
block layout-content
  script(src = "jquery.min.js")
  script(src = "helper.js")
  .container.View.WelcomeView
    h1.Banner #{blockchain_name}
    div.Message.center
      a(
        href="https://parastate.io"
        target="_blank"
      )
        img(
          src="ps.jpg"
        )
      div.Title
      p Please enter Tweet URL (must mention #{twitter_handle} & contain a valid public key)
      p Account must follow
      a(
        href="https://parastate.io"
        target="_blank"
      ) ParaState
      br
      br
      input(
          id="tweet_url"
          type="text"
          class="full_width"
          value="https://twitter.com/testing_one_/status/1431755736707526660"
      )
      br
      br
      button.clearButton(onclick="clearTwitterInput()", id=clear_input) Clear
      br 
      div.NavButtons
      button.NavButton.center(onclick="onButtonClickTwitter($('#tweet_url').val())", id=button_send_tokens) Submit
      br
      p #{token_amount_in_wei} Wei per #{rate_limit_duration} minute [s]