extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner #{blockchain_name}
    div.Message.center
      div.Title
        h3 Please enter your public address
        input(
            id="recipient_address"
            type="text"
            class="full_width"
            value="0xF9A8917c7fFb04822daDC861E9e66E69cecCD248"
        )
    script(src = "jquery.min.js")
    script(src = "helper.js")
    div.NavButtons
      button.NavButton(onclick="onButtonClick($('#recipient_address').val())", id=button_send_tokens) Send me tokens!
    a(
      href="https://secondstate.io"
      target="_blank"
    )
      img(
        class="bottom_left"
        src="ps.jpeg"
        a="href"
        target="_blank"
      )