extends layout
block layout-content
  script(src = "jquery.min.js")
  script(src = "helper.js")
  .container.View.WelcomeView
    h1.Banner #{blockchain_name} Faucet
    div.Message.center
      div.Title
      p Enter Tweet URL
      input(
          id="tweet_url"
          type="text"
          class="full_width"
          value="https://twitter.com/testing_one_/status/1431755736707526660"
      )
      br
      br
      button.clearButton(onclick="clearTwitterInput()", id="clear_input") Clear
      br 
      div.NavButtons
      button.NavButton.center(id="button_send_tokens", onclick="onButtonClickTwitter($('#tweet_url').val())") Submit
      hr
      p Note: Tweet must mention #{twitter_handle} & contain a valid public key. Also your account must follow
      a(
        href="https://parastate.io"
        target="_blank"
      ) ParaState
      hr
      p Dispences #{token_amount_in_wei} Wei #{user_rate_limit} time[s] per #{rate_limit_duration} minute[s]
      hr
      a(
        href="https://parastate.io"
        target="_blank"
      )
        img(
          src="ps.jpg"
        )
