extends layout
block layout-content
  script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js' type='application/javascript')
  script(src = "jquery.min.js")
  script(src = "helper.js")
  .container.View.WelcomeView
    h1.Banner ParaState Timelock
    div.Message.center
      div.Title
      div.Details Connect Wallet
      a(onclick="connectWallet()", id="connect", title='MetaMask, MIT <http://opensource.org/licenses/mit-license.php>, via Wikimedia Commons- https://commons.wikimedia.org/wiki/File:MetaMask_Fox.svg')
        img.small_fox(width='80px' alt='MetaMask Fox' src='metamask-fox.svg')
      br
      hr
      br
      input(
          id="eth_address"
          type="text"
          class="full_width small"
          value="0x335f88e2fDb97D11a2b05DC1a8a9C269B6c051a3"
      )
      br
      br
      button.clearButton.center(onclick="clearInput()", id="clear_input") Clear input
      br
      button.NavButton.center(id="button_calculate_balances", onclick="calculateBalances()") Calculate Balances
      br
      button.NavButton.center(id="button_transfer_tokens", onclick="onButtonClickTransfer($('#eth_address').val())") Unlock Tokens
      br
      table.table-responsive-sm.center
        thead
          tr
            th(scope='col') Locked
            th(scope='col') Withdrawn
            th(scope='col') Available
        tbody
          tr
            td(id='locked') 0
            td(id='withdrawn') 0
            td(id='available') 0
      br
      .progress
        #pb.progress-bar.progress-bar-striped.progress-bar-animated(role='progressbar' aria-valuemin='0' aria-valuemax='100' style='width: 0%')
      hr
      a(
        href="https://parastate.io"
        target="_blank"
      )
        img.center.small_image(
          src="parastate_logo.png"
        )
      br
        
